<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="row">
  <div class="col">
    <h2>Walmart Orders</h2>
  </div>
  <div class="col-5 text-right">
    <input type="file" class="btn form-control-file" (change)="fileChange($event)" placeholder="Import orders" accept=".csv">
  </div>
</div>
<table class="table table-hover table-bordered table-sm">
  <thead class="thead-inverse">
  <th>Order ID:</th>
  <th>Order Date:</th>
  <!--<th>URL:</th>-->
  <th>Address:</th>
  <th>Total:</th>
  <th>Tracking number:</th>
  </thead>
  <tbody id="result">
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.date | amt}}</td>
    <!--<td>{{order.url}}</td>-->
    <td>{{order.address}}</td>
    <td>{{order.total}}</td>
    <td>{{order.tracking_number}}</td>
  </tr>
  </tbody>
</table>
